/*** uncss> filename: assets/unclean.css ***/

/* Tèsèvè - A simple static webserver, in an app.
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by leny@flatLand!
 * started à 11/09/2015
 */

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
strong,
sup,
i,
ul,
li,
figure,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

figure,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "Glyphs";
  src: url("./fonts/glyphs/glyphs.eot");
  src: url("./fonts/glyphs/glyphs.eot?#iefix") format("embedded-opentype"), url("./fonts/glyphs/glyphs.woff") format("woff"), url("./fonts/glyphs/glyphs.ttf") format("truetype"), url("./fonts/glyphs/glyphs.svg#Glyphs") format("svg");
}

@font-face {
  font-family: "FiraSans";
  src: url("./fonts/firasans/FiraSans-Book.eot");
  src: url("./fonts/firasans/FiraSans-Book.eot?#iefix") format("embedded-opentype"), url("./fonts/firasans/FiraSans-Book.woff") format("woff");
}

@font-face {
  font-family: "FiraSans";
  font-weight: bold;
  src: url("./fonts/firasans/FiraSans-Bold.eot");
  src: url("./fonts/firasans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/firasans/FiraSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "FiraSans";
  font-weight: 100;
  src: url("./fonts/firasans/FiraSans-ExtraLight.eot");
  src: url("./fonts/firasans/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/firasans/FiraSans-ExtraLight.woff") format("woff");
}

sup {
  vertical-align: super;
}

a {
  color: #9b99ff;
  text-decoration: none;
}

html {
  font: normal 62.5%/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #eee;
}

header {
  padding: 5rem 0 18rem;
  background: #fff url("./img/header-bcg.png") center repeat;
  -webkit-box-shadow: 0 0 1rem #000;
  box-shadow: 0 0 1rem #000;
}

header h1 {
  position: relative;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 0.6rem #f76b1c;
}

header h1:before {
  content: "";
  position: relative;
  display: block;
  width: 12.8rem;
  height: 12.8rem;
  margin: 0 auto 1.6rem;
  z-index: 10;
  background: transparent url("https://a.pomf.cat/quyoqe.png") center no-repeat;
  background-size: contain;
}



header h1 strong {
  display: block;
  font: 100 6rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

header h1 span {
  display: block;
  font: bold 1.6rem/1.25 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.screenshot {
  margin: 0 auto -10rem;
  background: #333;
}

.screenshot figure {
  position: relative;
  max-width: 90%;
  top: -14rem;
  margin: 0 auto;
}

.screenshot figure img {
  display: block;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 2rem rgba(0,0,0,0.25);
  box-shadow: 0 0 2rem rgba(0,0,0,0.25);
}

.links {
  margin: 0 auto;
  padding: 0 0 4rem;
  background: #333;
}

.links h2 {
  max-width: 90%;
  margin: 0 auto 2.4rem;
  text-align: center;
}

.links h2 strong {
  display: block;
  margin: 0 auto 0.4rem;
  font: 100 2.4rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.links h2 span {
  display: block;
  font: 100 1.6rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.links h2 span sup {
  font-size: 0.75em;
}

.links h2 a {
  display: block;
  font: normal 1.2rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.links h2 a:before {
  content: "(";
}

.links h2 a:after {
  content: ")";
}

.links ul {
  max-width: 90%;
  margin: 0 auto;
}

.links ul li a {
  display: block;
  padding: 1.6rem 0;
  border: 1px solid rgba(238,238,238,0.5);
  border-radius: 0.6rem;
  color: #eee;
  text-decoration: none;
  text-align: center;
}

.links ul li a i {
  display: block;
  margin: 0 auto;
  font: normal 4.8rem/1 "Glyphs";
}

.links ul li a strong {
  display: block;
  margin: 0 auto 0.8rem;
  font: 100 1.6rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.links ul li a span {
  display: inline-block;
  padding: 0.8rem 1.2rem 0.6rem;
  background: #f76b1c;
  border-radius: 0.6rem;
  font: normal 1.6rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
}

.links ul li a.win,
.links ul li a.osx {
  display: none;
}

.links ul li a.github i:before {
  content: "c";
}

.what {
  padding: 0.1rem 0 2rem;
  background: #eee;
}

.what h2 {
  max-width: 90%;
  margin: 3rem auto 2.4rem;
  font: 100 2.4rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-align: center;
}

.what p {
  max-width: 90%;
  margin: 0 auto 1.4rem;
  font: normal 1.4rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

footer {
  padding: 0.75rem 0 0.5rem;
  background: #fff url("./img/header-bcg.png") center repeat;
  -webkit-box-shadow: 0 0 1rem #000;
  box-shadow: 0 0 1rem #000;
}

footer .cc {
  max-width: 90%;
  margin: 0 auto;
  font: bold 1.4rem/1.25 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 0.6rem #f76b1c;
  text-align: right;
}

footer .cc .love {
  font-size: 0;
}

footer .cc .love:before {
  content: "a";
  font: normal 1.4rem/1.25 "Glyphs";
  vertical-align: -0.2rem;
}

footer .cc a {
  color: #f76b1c;
}

@media all and (min-width: 40em) {
  header {
    padding: 6rem 0 32rem;
  }

  .screenshot {
    margin: 0 auto -24rem;
  }

  .screenshot figure {
    top: -28rem;
  }

  .links {
    padding: 0 0 8rem;
  }

  .links h2 {
    margin: 0 auto 3.2rem;
  }

  .links h2 strong {
    margin: 0 auto 0.8rem;
    font: 100 2.8rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links h2 span {
    font: 100 2rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links h2 a {
    font: normal 1.6rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links ul {
    max-width: 30rem;
    margin: 0 auto;
  }

  .links ul li a {
    padding: 2.4rem 0;
  }

  .links ul li a i {
    font: normal 5.6rem/1 "Glyphs";
  }

  .links ul li a strong {
    margin: 0 auto 1.2rem;
    font: 100 2rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links ul li a span {
    padding: 1rem 1.8rem 0.8rem;
    font: normal 1.8rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .what {
    padding: 0.1rem 0 3rem;
  }

  .what h2 {
    margin: 4.8rem auto 3.2rem;
    font: 100 3.2rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .what p {
    margin: 0 auto 2rem;
    font: normal 1.6rem/1.5 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  footer {
    padding: 1rem 0 0.75rem;
  }

  footer .cc {
    font: bold 1.8rem/1.25 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  footer .cc .love:before {
    font: normal 1.8rem/1.25 "Glyphs";
    vertical-align: -0.3rem;
  }
}

@media all and (min-width: 60em) {
  a {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  a:hover {
    color: #b4b2ff;
  }

  .links h2 span {
    font: 100 1.8rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links h2 a {
    font: normal 1.4rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links ul {
    max-width: 96rem;
    margin: 0 auto;
  }

  .links ul:before,
  .links ul:after {
    content: " ";
    display: table;
  }

  .links ul:after {
    clear: both;
  }

  .links ul li {
    width: 30rem;
    float: left;
  }

  .links ul li a {
    padding: 2.4rem 0;
  }

  .links ul li a i {
    font: normal 5.6rem/1 "Glyphs";
  }

  .links ul li a strong {
    margin: 0 auto 1.2rem;
    font: 100 2rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .links ul li a span {
    padding: 1rem 1.8rem 0.8rem;
    font: normal 1.8rem/1.33 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .links ul li a span:hover {
    background: #d15a17;
  }

  .links ul li a.win,
  .links ul li a.osx {
    display: block;
  }

  .links ul li a.win i:before {
    content: "d";
  }

  .links ul li a.osx i:before {
    content: "b";
  }

  .links ul li + li {
    margin-left: 3rem;
  }

  .what {
    padding: 0.1rem 0 10rem;
  }

  .what h2 {
    max-width: 96rem;
    margin: 6.4rem auto 4.8rem;
    font: 100 3.6rem/1 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .what p {
    max-width: 96rem;
    margin: 0 auto 2.4rem;
    font: normal 1.6rem/1.5 "FiraSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  footer .cc {
    max-width: 96rem;
    text-align: center;
  }
}
